<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center titulo">Recuperar Senha</h3>
          <form action="" [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
            <div class="mb-3">
              <input type="text" formControlName="usuario"class="form-control form-control-lg" placeholder="Coloque seu E-mail de recuperação">
              <div class="text-danger" 
              *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.get('usuario')?.touched">
                Seu e-mail <strong>é Obrigatório!</strong>
              </div>
              <div class="text-danger" 
              *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.get('usuario')?.touched">
                E-mail <strong>Inválido!</strong>
              </div>
            </div>
            <button routerLink="/usuario" class="btn btn-secondary btn-lg">Voltar</button>
            <button type="submit" [disabled]="recuperarForm.invalid" class="btn btn-primary btn-lg float-end">Recuperar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>